{% extends 'base.html' %}

{% block title %}
    Mi cuenta | {{ block.super }}
{% endblock %}

{% block container %}
    <ol class="breadcrumb">
        <li><a href="{% url 'cuentas:inicio' %}">Inicio</a></li>
        <li class="active">Mi cuenta</li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">Mi cuenta</a>
                <a href="{% url 'cuentas:update_user'%}" class="list-group-item">Cambiar nombre y correo electrónico</a>
                <a href="{% url 'cuentas:update_password'%}" class="list-group-item">Cambiar contraseña</a>
                <a href="{% url 'alumnos:cliente_atualizar'%}" class="list-group-item"> Datos complementarios </a>
                <a href="{% url 'alumnos:consulta_list'%}" class="list-group-item">Mis Consultas</a>
                <a href="{% url 'reservas:lista_reservas' %}" class="list-group-item">Mis reservas</a>

                {% if request.user.is_staff or request.user.is_superuser %}
                <a href="{% url 'instructores:agenda_lista'%}" class="list-group-item">Agendas</a>
                <a href="{% url 'instructores:instructores_lista' %}" class="list-group-item">Instructores</a>
                <a href="{% url 'instructores:especialidade_lista' %}" class="list-group-item">Especialidad</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            {% block cuentas_container %}
                <h2>Bienvenido {{ user.name }} </h2>
            {% endblock %}
        </div>
    </div>
{% endblock %}
