{% extends "cuentas/index.html" %}

{% block title %}
    <!-- Título de la página -->
    Agendas Disponibles
{% endblock %}

{% block cuentas_container %}
    <!-- Contenido específico para esta página -->
    <h2>Agendas Disponibles</h2>
    <!-- Tabla para mostrar las agendas disponibles -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Instructor</th>
                <th>Día</th>
                <th>Horario</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iteración sobre las consultas disponibles -->
            {% for consulta in object_list %}
                <tr>
                    <td>
                        <a href=""># {{ consulta.pk }}</a>
                    </td>
                    <td>
                        {{ consulta.instructor }}
                    </td>
                    <td>
                        {{ consulta.dia|date:"d/m/Y" }}
                    </td>
                    <td>
                        {{ consulta.get_horario_display }}
                    </td>
                    <td>
                        <!-- Enlaces para editar y eliminar consultas -->
                        <a href="{% url 'instructores:agendar_consulta_atualizar' consulta.pk %}" class="text-primary" style="padding-left: 10px; text-decoration: none;">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'instructores:agendar_consulta_deletar' consulta.pk %}" class="mr-1 text-danger" style="padding-left: 10px; text-decoration: none;">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
