{% extends "cuentas/index.html" %}

{% block title %}
Instructores
{% endblock %}

{% block cuentas_container %}
<h2>Instructores</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                E-mail
            </th>
            <th>
                Tipo De Clase
            </th>
            <th>
                Telefono
            </th>
        </tr>
    </thead>
    <tbody>
        {% for instructor in object_list %}
        <tr>
            <td>
                <a href=""># {{ instructor.pk }}</a>
            </td>
            <td>
                {{ instructor.nome }}
            </td>
            <td>
                {{ instructor.email }}
            </td>
            <td>
                {{ instructor.especialidade }}
            </td>
            <td>
                {{ instructor.telefono }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}