{% extends "cuentas/index.html" %}

{% block title %}
    <!-- Título de la página -->
    Instructores
{% endblock %}

{% block cuentas_container %}
    <!-- Contenido específico para esta página -->
    <h2>Instructores</h2>
    <!-- Tabla para mostrar la información de los instructores -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>E-mail</th>
                <th>Tipo de Clase</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iteración sobre los instructores -->
            {% for instructor in object_list %}
                <tr>
                    <td>
                        <a href=""># {{ instructor.pk }}</a>
                    </td>
                    <td>
                        {{ instructor.nome }}
                    </td>
                    <td>
                        {{ instructor.email }}
                    </td>
                    <td>
                        {{ instructor.especialidade }}
                    </td>
                    <td>
                        {{ instructor.telefono }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
