{% extends 'tienda/layout.html' %}

{% block body %}

<form action="{% url 'tienda:edit_alumno' alumno_id.id %} ", method="POST" enctype="multipart/form-data"> 
    {% csrf_token %}
  
      <div class="mb-3">
          <label for="nombre" class="form-label">nombre:</label>
          {{ form.nombre }}
      </div>
      <div class="mb-3">
          <label for="direccion" class="form-label">direccion:</label>
          {{ form.direccion }}
      </div>
      <div class="mb-3">
          <label for="telefono" class="form-label">telefono:</label>
          {{ form.telefono }}
      </div>
      <div class="mb-3">
          <label for="sexo" class="form-label">sexo:</label>
          {{ form.sexo }}
      </div>
      <div class="mb-3">
          <label for="edad" class="form-label">edad:</label>
          {{ form.edad }}
      </div>
      <div class="mb-3">
          <label for="email" class="form-label">email:</label>
          {{ form.email }}
      </div>
      <div class="mb-3">
          <label for="telefono_emergencia" class="form-label">telefono emergencia:</label>
          {{ form.telefono_emergencia }}
      </div>
      <div class="mb-3">
          <label for="fecha_inscripcion" class="form-label">fecha inscripcion:</label>
          {{ form.fecha_inscripcion }}
      </div>
      <div class="mb-3">
          <label for="mensualidad" class="form-label">mensualidad:</label>
          {{ form.mensualidad }}
      </div>
      <div class="mb-3">
          <label for="membresia_vip" class="form-label">membresia vip:</label>
          {{ form.membresia_vip }}
      </div>
      <div class="mb-3">
          <label for="alergias" class="form-label">alergias:</label>
          {{ form.alergias }}
      </div>
      <div class="mb-3">
          <label for="docente_a_cargo" class="form-label">docente a cargo:</label>
          {{ form.docente_a_cargo }}
      </div>
      
  
     
      <div class="mb-3">
        <label for="especialidad" class="form-label">Clase de Natación:</label>
        {{ form.especialidad }}
      </div>
  

      <div class="mb-3">
        <label for="nombre_docente" class="form-label">nombre docente:</label>
        {{ form.nombre_docente }}
    </div>

    <div class="mb-3">
        <label for="tipo_pago" class="form-label">tipo pago:</label>
        {{ form.tipo_pago }}
    </div>


    <div class="mb-3">
        <label for="plan_elegido" class="form-label">plan elegido:</label>
        {{ form.plan_elegido }}
    </div>


    <div class="mb-3">
        <label for="fecha_clase" class="form-label">fecha clase:</label>
        {{ form.fecha_clase }}
    </div>

    <div class="mb-3">
        <label for="horas_clase" class="form-label">horas clase:</label>
        {{ form.horas_clase }}
    </div>
      <input type="submit" class="btn btn-primary" value="Publicar">
    </form>


{% endblock body %}