{% extends 'tienda/layout.html' %}
{% load static %}

{% block body %}
  <a href="{% url 'tienda:home' %}" class="btn btn-primary">Volver al inicio</a>
  <h2>Lista de Alumnos</h2>
  {% csrf_token %}
  <div class="row">
    <div class="col-md-12">
      <table id="alumnos-table" class="table table-bordered table-dark">
        <thead>
          <tr>
            <th class="table-warning" scope='col'>Alumno</th>
            <th class="table-warning" scope='col'>Nombre</th>
            <th class="table-warning" scope='col'>Dirección</th>
            <th class="table-warning" scope='col'>Teléfono</th>
            <th class="table-warning" scope='col'>Sexo</th>
            <th class="table-warning" scope='col'>Edad</th>
            <th class="table-warning" scope='col'>Precio</th>
            <th class="table-warning" scope='col'>Editar</th>
            <th class="table-warning" scope='col'>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for alumno in alumnos %}
            <tr class="table-warning">
              <td class="table-warning">{{ alumno.alumno_id }}</td>
              <td class="table-warning">{{ alumno.nombre }}</td>
              <td class="table-warning">{{ alumno.direccion }}</td>
              <td class="table-warning">{{ alumno.telefono }}</td>
              <td class="table-warning">{{ alumno.get_sexo_display }}</td>
              <td class="table-warning">{{ alumno.edad }}</td>
              <td class="table-warning">{{ alumno.pago }}</td>
              <td class="table-warning">
                <form method="post" action="{% url 'tienda:edit_alumno' alumno.alumno_id %}">
                  {% csrf_token %}
                  <input type="hidden" name="alumno_id" value="{{ alumno.alumno_id }}">
                  <input type="text" name="nombre" value="{{ alumno.nombre }}">
                  <input type="text" name="direccion" value="{{ alumno.direccion }}">
                  <input type="text" name="telefono" value="{{ alumno.telefono }}">
                  <select name="sexo">
                    <option value="M" {% if alumno.sexo == "M" %}selected{% endif %}>Masculino</option>
                    <option value="F" {% if alumno.sexo == "F" %}selected{% endif %}>Femenino</option>
                  </select>
                  <input type="text" name="edad" value="{{ alumno.edad }}">
                  <select name="pago">
                    <option value="false" {% if not alumno.pago %}selected{% endif %}>False</option>
                    <option value="true" {% if alumno.pago %}selected{% endif %}>True</option>
                  </select>
                  <button type="submit" class="btn btn-success">Guardar</button>
                </form>
              </td>
              <td>
                <form method="post" action="{% url 'tienda:eliminar_alumno' alumno.alumno_id %}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este alumno?');">
                  {% csrf_token %}
                  <input type="hidden" name="alumno_id" value="{{ alumno.alumno_id }}">
                  <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>                
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock body %}
