{% extends "accounts/index.html" %}

{% block title %}
Instructores
{% endblock %}

{% block accounts_container %}
<h2>Instructores</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                E-mail
            </th>
            <th>
                CRM 
            </th>
            <th>
                Tipo De Clase
            </th>
            <th>
                Telefono
            </th>
        </tr>
    </thead>
    <tbody>
        {% for Instructor in object_list %}
        <tr>
            <td>
                <a href=""># {{ Instructor.pk }}</a>
            </td>
            <td>
                {{ Instructor.nome }}
            </td>
            <td>
                {{ Instructor.email }}
            </td>
            <td>
                {{ Instructor.crm }}
            </td>
            <td>
                {{ Instructor.TipoDeClase }}
            </td>
            <td>
                {{ Instructor.telefone }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}