<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <!-- Configuración de la página -->
    <meta charset="utf-8">
    <title>{% block title %}Bienvenido a ProNatacion{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <!-- Enlace a hojas de estilo -->
    <link rel="stylesheet" href="{% static 'assets/bootstrap.min.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'assets/custom.min.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'assets/extra.css' %}" media="screen" />
</head>
<body>
    <!-- Barra de navegación -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Enlace al inicio con el logo -->
                <a href="{% url 'index' %}" class="navbar-brand">Bienvenido a ProNatacion</a>
                <!-- Botón para mostrar el menú en dispositivos móviles -->
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Contenido del menú de navegación -->
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <!-- Enlaces a secciones de la página -->
                    <li><a href="{% url 'alumnos:consulta_create'%}">Clases</a></li>
                    {% if user.is_staff or user.is_superuser %}
                    <li><a href="{% url 'instructores:agendar_consulta'%}">Agendas</a></li>
                    <li><a href="{% url 'instructores:instructor_cadastro'%}">Instructor</a></li>
                    <li><a href="{% url 'instructores:especialidade_cadastro'%}">Especialidade</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!-- Enlaces de la cuenta -->
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'cuentas:index' %}">Mi cuenta</a></li>
                        <li><a href="{% url 'cuentas:logout' %}">Salir</a></li>
                    {% else %}
                        <li><a href="{% url 'cuentas:login' %}">Entrar</a></li>
                        <li><a href="{% url 'cuentas:registro' %}">Registro</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    
    <!-- Contenedor principal -->
    <div class="container margin-top">
        <!-- Sección para mostrar mensajes -->
        {% block messages %}
            {% for message in messages %}
                <div class='alert alert-{{ message.tags}}'>
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock messages %}
        
        <!-- Contenido principal de la página -->
        {% block container %}
        {% endblock %}
    </div>

    <!-- Pie de página -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Lista de enlaces en el pie de página -->
                    <ul class="list-unstyled">
                        <li class="pull-right"><a href="#top">Volver al principio</a></li>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Términos y Privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Enlace a jQuery y FontAwesome -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://kit.fontawesome.com/c2a3297ec9.js" crossorigin="anonymous"></script>
    <!-- Enlace a Bootstrap JS -->
    <script src="{% static 'assets/bootstrap.min.js' %}"></script>
    <!-- Scripts adicionales específicos de la página -->
    {% block scripts %}
    {% endblock %}
</body>
</html>
