{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    <!-- Título de la página -->
    Apagar | {{ block.super }}
{% endblock %}

{% block container %}
    <!-- Contenido específico para esta página -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- Encabezado de la página -->
            <div class="page-header">
                <h1>Apagar</h1>
            </div>
            <!-- Formulario de confirmación para eliminar -->
            <form action="" method="POST">
                <p>Realmente desea eliminar: <strong>{{ object }}</strong>?</p>
                {% csrf_token %}
                {{ form.as_p }}
                <!-- Botón para enviar el formulario y eliminar -->
                <button type="submit" class="btn btn-danger">Excluir</button>
                <!-- Enlace para cancelar y regresar atrás en la historia -->
                <a href="#" onClick="history.go(-1)" class="btn btn-link">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}
